.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  height: 50px;
}

.trybewarts-login {
  display: flex;
  height: 30px;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  color: white;
}

.main-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  width: 100px;
}

#label-family {
  display: flex;
}

.input-and-house {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.fullname {
  display: flex;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 25px;
}
