* {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  color: white;
}

.trybewarts-header-logo {
  height: 80px;
  margin: 1%;
}

.trybewarts-login {
  height: 30px;
}

#e-mail {
  border-radius: 8px;
  width: 30%;
}

#senha {
  border-radius: 8px;
  width: 30%;
}

#botaoLogin {
  border-radius: 8px;
  background-color: rgba(128, 0, 128, 0.452);
  width: 25%;
}

.main-container {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#house {
  margin: 1%;
  width: 30%;
}

#label-content {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

#house {
  width: 90px;
}

.input-and-house {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 1%;
}

